streamlit
numpy
librosa
gTTS
praat-parselmouth
git+https://github.com/openai/whisper.git
whisper
joblib
scipy
textdistance
ffmpeg

# python -m venv .venv
# .venv\Scripts\activate
# pip install -r requirements.txt
